
h2{
  color: antiquewhite;
  font-weight: 200;
}

.subTitle{
  margin-bottom: 10%;
  font-weight: 300;
  color: antiquewhite;
  font-weight: 100;
  font-size:large;
  
}

p{
  font-weight: 200;
}

a{
  color: rgb(195, 133, 254);
  
}

.purplediv2{
  position: absolute;
  width: 117%;
  height: 290%;
  background-color: #8E00FE;
  margin-top: -118%;
  margin-left: -8.5%;
  background: linear-gradient(to bottom ,  #8E00FE, #1E1E1E 50%);
  opacity: 80%;  
  z-index: -1; 
}

.codeExample{
  margin-top: 20%;
  margin-left: 8%;
  width: 300px;
  height: 250px;
  border-radius: 5%;
  position: absolute;
}

.swapbackbutton{
  margin-top: 300px;
  margin-left: 93%;
  position: absolute;
  
}

.swapbackbutton button:hover img {
  filter: invert(48%) sepia(86%) saturate(3857%) hue-rotate(270deg) brightness(101%) contrast(100%);
}